/*
 * Inspiration for the styling of the background and social media buttons comes
 * from the "Adding Social Media Icons | HTML & CSS" video on Youtube at
 * https://www.youtube.com/watch?v=woVuUbDOeMk
 */
html,
body {
  font: 13px Helvetica, Arial;
  height: 100%;
}

.button {
  width: 120px !important;
}
