/*
 * Inspiration for the styling of the background and social media buttons comes
 * from the "Adding Social Media Icons | HTML & CSS" video on Youtube at
 * https://www.youtube.com/watch?v=woVuUbDOeMk
 */
html,
body {
  background: #282828;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: Comfort;
  src: url("../../fonts/Multicolore.otf");
}

:root {
  --main-color: #444444;
}

h1 {
  font-family: Comfort;
}

.btn {
  width: 250px;
  padding: 10px 20px;
  border: 0 none;
  letter-spacing: 2px;
  font-family: Comfort;
  font-size: 14px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  background: var(--main-color);
  outline: 0 none;
}

.btn-primary {
  background: var(--main-color);
  color: #ffffff;
}

.dropdown-toggle:active,
.open,
.dropdown-toggle {
  background: var(--main-color) !important;
}

.dropdown-menu {
  background-color: var(--main-color);
}

.dropdown-menu > a {
  width: 250px;
  color: #fff;
  font-family: Comfort;
  letter-spacing: 2px;
  font-size: 14px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: var(--main-color);
}

.btn-primary:active,
.btn-primary.active {
  background: var(--main-color);
  box-shadow: none;
}
