/*
 * Inspiration for the styling of the background and social media buttons comes
 * from the "Adding Social Media Icons | HTML & CSS" video on Youtube at
 * https://www.youtube.com/watch?v=woVuUbDOeMk
 */
.media {
  justify-content: center;
  position: relative;
  right: 17px;
  margin-top: 15px;
}

/*
 * Align media icons in row in the center of the screen, display circles around
 * them, and set the transition duration to .5 seconds when the mouse hovers
 * away from the icons
 */
li {
  margin: 10px 30px;
  display: inline-block; /* Line up media icons in row instead of column */
  font-size: 20px; /* Make media icons bigger */
  padding: 20px 20px; /* Make circles around media icons bigger */
  border-radius: 50%;
  transition: 0.5s; /* Duration of color transition when mouse hovers away from icon */
  justify-content: left;
}

/*
 * Set the color of the media buttons to very dark gray (#292929) when the mouse
 * hovers over them, and set the transition duration to .5 seconds
 */
li:hover {
  color: #292929 !important;
  border: 2px solid #292929 !important;
  transition: 0.5s !important;
}

/* Ignore the default blue hyperlink color for the social media buttons */
a {
  color: inherit;
}

/* Define colors for each social media button and its corresponding circle */

#facebook {
  color: #0000ff;
  border: 2px solid #0000ff;
}

#twitter {
  color: #00ccff;
  border: 2px solid #00ccff;
}

#reddit {
  color: #ff0000;
  border: 2px solid #ff0000;
}

#google_plus {
  filter: brightness(0.7);
  color: #ff0000;
  border: 2px solid #ff0000;
}
