html,
body {
  background: #282828;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;

  font: 13px Helvetica, Arial;
  height: 100%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button {
  width: 120px !important;
}

.media {
  justify-content: center;
}

/*
 * Align media icons in row in the center of the screen, display circles around
 * them, and set the transition duration to .5 seconds when the mouse hovers
 * away from the icons
 */
li {
  margin: 10px 30px;
  display: inline-block; /* Line up media icons in row instead of column */
  font-size: 20px; /* Make media icons bigger */
  padding: 20px 20px; /* Make circles around media icons bigger */
  border-radius: 50%;
  transition: .5s; /* Duration of color transition when mouse hovers away from icon */
  justify-content: center;
}

/* Define colors for each social media button and its corresponding circle */

#facebook {
  color: #0000FF;
  border: 1px solid #0000FF;
}

#twitter {
  color: #00CCFF;
  border: 1px solid #00CCFF;
}

#instagram {
  color: #FF00FF;
  border: 1px solid #FF00FF;
}

#reddit {
  color: #FF0000;
  border: 1px solid #FF0000;
}

/*
 * Set the color of the media buttons to very dark gray (#292929) when the mouse
 * hovers over them, and set the transition duration to .5 seconds
 */
li:hover {
  color: #292929 !important;
  border: 1px solid #292929 !important;
  transition: .5s !important;
}